# Practical session 1 - Some Python basics

Students (pair):
- [OUMOUHOU Hicham 1](https://github.com/hichamomh)
- [CHADLI Mohammed Amine 2](https://github.com/MACnCH)

```
conda create --name=lab1 --file=requirement.txt 
conda activate lab1
# do not forget to deactivate the environment if needed
# you can remove the environment once you are done
conda env remove --name=lab1
```

In [1]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Reserved keywords

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Arithmetic

Compute 4 raised to the power 8

In [4]:
x = 4**8
print("the value of 4 raised to the power 8 is : ",x)

the value of 4 raised to the power 8 is :  65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [5]:
q ,r =17//3,17 % 3
print(' the quotient and the remainder of the euclidean division of 17 by 3 are respectivaally q =',q,"and r =",r)

 the quotient and the remainder of the euclidean division of 17 by 3 are respectivaally q = 5 and r = 2

Create two integer variables `a, b` of your choice and swap their content.

In [6]:
a = 5
b = 8
print("a = ",a," and b = ", b)
a,b = b,a
print("a = ",a," and b = ", b)

a =  5  and b =  8
a =  8  and b =  5

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [7]:
a = a*2
print("a =",a)

a = 16

Define a complex number `z` object and print it as

`(real=z.real, imag=z.imaginary)`

In [8]:
z = 5 + 6j
print("real(z)=",z.real, " and imag(z)=",z.imag)

real(z)= 5.0  and imag(z)= 6.0

## Strings

Propose two ways to define an empty string

In [9]:
#First method to define an empty string
string1 =""
#Second method
string2 = str()

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [10]:
#This is the ASCKI code of the first letter of the alphabet using ord()
print(ord("a"))

97

In [11]:
string26 =""
for i in range(26):
    string26+=chr(97+i)
print(string26)

abcdefghijklmnopqrstuvwxyz

In [12]:
print("the 12th letter of the alphabet is ",string26[11])
print("the 10 last letters of the alphabet are ",string26[-10:])
print("the 5th to the 10th letters of the alphabet are",string26[4:10])
print("Upper cases of the alphabet letters",string26.upper())

the 12th letter of the alphabet is  l
the 10 last letters of the alphabet are  qrstuvwxyz
the 5th to the 10th letters of the alphabet are efghij
Upper cases of the alphabet letters ABCDEFGHIJKLMNOPQRSTUVWXYZ

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [13]:
x = 2341324530045968
x = str(x)
first_4_digits = x[:4]
print(first_4_digits)

2341

## Lists

Propose two ways to define an empty list.

In [14]:
#Methods to define an empty kist
#Method 1
list_1 = []
#Method 2
list_2 = list()

Create the list of consecutive integers from 5 to 11.

In [15]:
L = [i for i in range(5,12)]
L

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [16]:
L = [x +100 for x in L]
L

[105, 106, 107, 108, 109, 110, 111]

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [17]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]
# Localisation of the string in the list
x[2][1][2] = ["aids"]
x

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [18]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]
print("the first two items of x are :",[x[0],x[1]], "\nthe last two items of x are : ",[x[-2],x[-1]])

the first two items of x are : [3, 7]
the last two items of x are :  [3, 1]

In [19]:
#occurence of 9
i = x.index(9)
print("the index of the first occurence of `9`is" ,i)
#The reversed x
y  = x
y.reverse()
print("the reversed list :",y)
# raised to ^3 x
z = [u**3 for u in x]
print("The list raised to the power 3 :",z)

the index of the first occurence of `9`is 11
the reversed list : [1, 3, 2, 2, 9, 4, 2, 5, 8, 2, 6, 5, 9, 4, 5, 5, 9, 9, 8, 5, 5, 5, 0, 4, 1, 3, 9, 0, 9, 0, 0, 5, 9, 0, 7, 2, 4, 3, 9, 3, 7, 0, 8, 8, 6, 8, 3, 5, 7, 3]
The list raised to the power 3 : [1, 27, 8, 8, 729, 64, 8, 125, 512, 8, 216, 125, 729, 64, 125, 125, 729, 729, 512, 125, 125, 125, 0, 64, 1, 27, 729, 0, 729, 0, 0, 125, 729, 0, 343, 8, 64, 27, 729, 27, 343, 0, 512, 512, 216, 512, 27, 125, 343, 27]

## Tuples


Propose two ways to define an empty tuple.

In [20]:
#Empty tuples
x1 =()
x2 = tuple()

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

x = ([1, 2, 3], 4)

In [21]:
x = ([1, 2, 3], 4)

# we can't replace elements in a tuple its immutable
x[0][1] = 2**5
print(x)

([1, 32, 3], 4)

What is the main difference between a list and a tuple?

Lists are mutable however tuples are immutable

## Sets

Create an empty set

In [22]:
A = {}
B = set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [23]:
A = {1,2,3}
B = {2,4,5,6}
A_B = A.intersection(B)
print(A_B)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [24]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}
x.update({4,5,6}) # adding 4,5,6 to x
print("updated x :",x)
x.difference_update({1,2,3})
print("set after removing 1,2,3")
y ={1, 2, 4, 5, 6, 10}
print("x is resulting in {1, 2, 4, 5, 6, 10} :" ,y <= x)

updated x : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set after removing 1,2,3
x is resulting in {1, 2, 4, 5, 6, 10} : False

## Dictionnaries

Propose two ways to define an empty dictionary

In [26]:
empty_dict1 = {}
empty_dict2 = dict()

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [28]:
dict1 = {"a":1,"b":3,"c":5,"d":7}
dict2 = dict(zip(("a", "b", "c", "d"),(1, 3, 5 , 7)))
dict3 = dict([("a",1),("b",3),("c",5),("d",7)])
print(dict1 == dict2 == dict3)

True

Given the following dictionary, use indexing to get to the word `"sdia"`

In [29]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [30]:
sdia = d["outer"][3]["inner"][3]["inner_inner"][3]
print(sdia)

sdia

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [31]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))

In [32]:
keys = list(d1.keys())
values = list(d1.values())
if "abc" not in keys:
    print(123)
d1.update({"e": -1, 4: True})
print(d1)

123
{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [33]:
odd_values1 = [i for i in range(0,30) if i%2 != 0]
odd_values2 = [i for i in range(1,30,2)]
print(odd_values1 == odd_values2)

True

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [34]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]

In [38]:
new_x =["fizbuz" if i%5 == 0 and i%7 == 0 else "buz" if i%7 == 0 else "fiz" if i%5 == 0 else x.index(i) for i in x]
print(new_x)

[0, 1, 2, 3, 'fizbuz', 'fiz', 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [39]:
course = "maths"
if course.lower() == "maths" or course.lower() == "python":
    print("That is very useful!")
elif course.lower() == "meditation":
    print("How nice!")
elif course.lower() == "magic":
    print("You're not at Hogwarts")
else:
    print("What is this COURSE?")

That is very useful!

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [42]:
quantity = 1
fruit = "avocado"
price = 1.8912392e4

if quantity > 1:
    print(quantity,fruit+"s","costs","$"+str(round(price,2)))
else:
    print(quantity,fruit,"costs","$"+str(round(price,2)))

1 avocado costs $18912.39

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [43]:
def is_unique(x):
    return len(set(x)) == len(x)

print(is_unique([1,2,3,4,5,6,7,8,9,0]))
print(is_unique([1,2,3,4,5,6,7,8,9,0,0]))

True
False

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```

In [44]:
def triangle_shape(height):
    if height == 0:
        return ""
    else:
        for i in range(height):
            print(" "*(height-i-1) + "x"*(2*i+1))

In [46]:
triangle_shape(7)

      x
     xxx
    xxxxx
   xxxxxxx
  xxxxxxxxx
 xxxxxxxxxxx
xxxxxxxxxxxxx